/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap'); 

/* General style settings */
body
{
    background-color: #e9caf0;
}

h1
{
    font-family: 'Mouse Memoirs', helvetica;
    font-size: 4em;
    color: #460263;
    margin: 7vh auto;
}

h3
{
    color: #460263;
}

hr
{
    border: 2px solid #460263;
    width: 50%;
    margin: 6vh auto;
}

p
{
    font-family: helvetica;
    margin: 7vh auto;
    margin: 70px auto;
}

footer
{
    background-color: #460263;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}


/* Visuals for forms (login, preferences, search, etc.) */
.bubble
{
    margin: 0;
    border-radius: 25px;
    height: 50px;
    width: 250px;
    text-align: center;
}

.search
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 14vh 0;
}

.questions
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 5vh 0;
}

#search-bar
{
    width: 80%;
}

.btn
{
    justify-content: center;
    align-items: center;
    background-color: #460263;
    border-radius: 20px;
    border: 0;
    height: 40px;
    padding: 0 20px;

}

/* History page */
.info
{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Search results cards */
.card-img-top
{
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.card {
    padding: 0; 
}

.card-body {
    padding: 0.5rem;  
}

.card-footer {
    padding: 0.4rem;  
}  

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .purple
{
    color: #8205b8;
}

.custom-navbar
{
    background-color: #fcecff;
}
