{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
<div class="error-wrapper">
    <div class="error-card">
        
        <div class="error-icon">
            <!-- https://www.clker.com/clipart-hanger-transparent.html -->
            <img src="static/hanger.png" class="error-hanger-icon" alt="icon">
        </div>

        <h1 class="error-title">{{ top }}</h1>
        <p class="error-message">{{ bottom }}</p>

        <a href="/" class="btn btn-primary btn-link">Go Home</a>
    </div>
</div>
{% endblock %}

